:root {
    --primary-font: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

html, body {
    font-family: var(--primary-font);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
}

.title {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 2.5rem;
}

.main-container {
    width: 70%;
    min-width: 280px;
    margin: 100px auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

.input-row {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 2rem;
}

.input-row>input {
    width: 50px;
    height: 50px;
    margin: 0 0.5rem;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border: 2px solid gray;
}

.revealed {
    animation: rotateX 1s ease;
}

.in-position.animation-midpoint {
    background-color: #6ca965;
}

.in-word.animation-midpoint {
    background-color: #c8b653;
}

@keyframes rotateX {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

@media screen and (max-device-width: 768px) {
    .title {
        font-size: 4rem;
    }
}

@media screen and (max-device-width: 480px) {
    .title {
        font-size: 5rem;
    }

    .input-row>input {
        width: 100px;
        height: 100px;
        font-size: 64px;
    }
}